# {{ ansible_managed }}
[Unit]
Description=Flask Service
Requires=NetworkManager-wait-online.service
Before=network.target
After=NetworkManager-wait-online.service
[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/app.py
Restart=always
[Install]
WantedBy=multi-user.target